.rowBlock{
  display: flex;
  padding: 5px;
  margin-bottom: 5px;
  //border: 1px solid #cccccc;
  justify-content: space-between;
}

.rowBlockTitle{
  flex: 0.8;
}

.rowBlockContent{
  flex: 1;
  display: flex;
  justify-content: space-between;
}