.App {
  font-size: 20px;
}

.header {
  height: 50px;
  width: 100%;

  padding: 10px 10px;
  font-weight: bold;
  display: flex;
  background-color: #F2F2F2;

  display: flex;
}

.menu {
  font-weight: 400;


  li {
    display: inline-block;
    color: #3d3d3d;
    font-size: 18px;
    margin-left: 15px;
  }
}